@font-face { font-family: Kyokasho; src: url('fonts/Kyokasho.ttf')}
@font-face { font-family: Kyokasho; font-weight: bold; src: url('fonts/KyokashoBold.ttf')}
@font-face { font-family: YuGothic; src: url('fonts/YuGothic.ttf')}
@font-face { font-family: OpenSans; src: url('fonts/OpenSans.ttf')}

body {
    background-color: rgb(40 40 40);
    font-family: YuGothic, sans-serif;
}

a {
    color: rgb(180 181 191);
    text-decoration: none;
}

a.normal-text {
    font-family: YuGothic, sans-serif;
    font-size: 16px;
    color: rgb(100, 101, 112);
    font-weight: normal;
    text-decoration: underline;
}

span {
    color: rgb(180 181 191);
}

p {
    color: rgb(180 181 191);
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: rgb(222, 224, 237);
    border-radius: 10px;
}

a.header {
    width: 7.5%;
    border-radius: 50%;
    padding-left: 15px;
}

img.header {
    border-radius: 50%;
    width: 100%;
}

.top-img {
    width: 130px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: Kyokasho, sans-serif;
    font-weight: normal;
    color: rgb(40 40 40);
    font-size: 58px;
    padding-left: 15px;
}

.borgar {
    display: none;
}

.borgar-menu {
    display: none;
}

button {
    border: none;
    font-family: Kyokasho, sans-serif;
    color: white;
    font-size: 32px;
    padding: 15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(181, 182, 190);
    margin: 0;
}
  
button:hover {
    background-color: rgb(147, 147, 151); 
}

.translate-button {
    text-decoration: none;
    position: absolute;
    top: 7.5px;
    right: 7.5px;
}

.current-tab-on-page {
    border: 1px solid rgb(147, 147, 151);
    cursor: default;
}

.button-link {
    margin-left: 1.5%;
}

.dropdown {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 68px;
    background-color: rgb(181, 182, 190);
    border-radius: 5px;
    width: 252px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
  }

.dropdown-content a {
    color: white;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
  }

.dropdown-content a:hover {
    background-color: rgb(147, 147, 151);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.page-top-text {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 0;
}

.socials-bar {
    text-align: center;
    color: white;
    font-size: 24px;
}

a.socials-bar {
    font-weight: bold;
    text-decoration: none;
}

img.socials-bar {
    max-width: 2.25%;
}

.smaller-button {
    font-size: 26px;
    padding: 15px 40px;
}

.button-text {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(222, 224, 237);
    text-align: center;
}

a.footer {
    text-decoration: none;
    color: rgb(40 40 40);
}

