ul {
    margin-top: 2px;
}

li {
    color: rgb(180 181 191);
}

.thinkpad-img {
    max-width: 60%;
}

.big-text {
    font-size: 24px; 
    color: white;
}

.sya-my-beloved {
    float: right;
    height: 200px;
    width: 200px;
    margin-top: -155px;
    margin-right: 20px;
    padding: 5px;
}

.bottom-footnote {
    color: rgb(126, 126, 129);
    font-size: 14px;
    width: 60%;
}

.horizontal-divide {
    width: 100%;
    background-color: white;
    padding-bottom: 3px;
    border-radius: 5px;
}

.image-area {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.image-area img {
    padding-right: 5px;
    object-fit: cover;
}

.image-area-text {
    color: white;
    padding-right: 15px;
    text-align: right;
    padding-bottom: 40px;
}

/* mobile */
@media only screen and (max-device-width: 1000px)
{ 
    .sya-my-beloved {
        display: none;
    }

    .image-area {
        flex-direction: column-reverse;
    }

    .image-area-text {
        text-align: center;
        font-size: 12px;
        padding-right: 0px;
    }

    .thinkpad-img {
        max-width: 100%;
    }

    .bottom-footnote {
        font-size: 12px;
        width: 100%;
    }
}