@font-face { font-family: Kyokasho; src: url('../fonts/Kyokasho.ttf')}
@font-face { font-family: Kyokasho; font-weight: bold; src: url('../fonts/KyokashoBold.ttf')}
@font-face { font-family: YuGothic; src: url('../fonts/YuGothic.ttf')}
@font-face { font-family: OpenSans; src: url('../fonts/OpenSans.ttf')}

:root {
    --sydney-main: rgb(198, 148, 242);
    --sydney-accent: rgb(65, 54, 75);

    --lilac-main: rgb(222, 224, 237);
    --lilac-accent: rgb(126, 126, 129);

    --text: rgb(180 181 191);
    --link: rgb(100, 101, 112);
    --background: rgb(40 40 40);
    --offwhite: rgb(222, 224, 237);
    --transparent: #fff 0 0;
    --shine: linear-gradient(
        to right,
        #FF498C 20%,
        #FF732D 30%,
        #FF4953 70%,
        #FF4482 80%
    );
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 16px;
}

a {
    color: var(--link);
}

.hidden-link {
    color: var(--text);
    text-decoration: none;
} .hidden-link a { /* applies to nested <a> as well */
    text-decoration: none;
}

.dark-text {
    color: var(--link);
}