#top-gd-text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}

.below-text {
    text-align: center;
    margin: 3px;
}

.gdtab {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto; 
    width: 100%;
}

.gdtab td {
    border-color: rgb(100, 101, 112);
    padding: 10px 5px;
    word-break: normal;
}

.gdtab th {
    border-color: rgb(100, 101, 112);
    border-bottom: 1px solid;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.gdtab .gdtab-top {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    position: -webkit-sticky;
    position: sticky;
    text-align: left;
    top: -1px;
    vertical-align: top;
    will-change: transform;
}

.gdtab .gdtab-element {
    height: 80px;
    color: rgb(222, 224, 237);
    text-align: left;
    vertical-align: top;
}

.gdtab .gdtab-element-img {
    background-color: #6d9eeb;
}

.gdtab a {
    color: rgb(222, 224, 237);
    text-decoration: none;
    text-align: left;
    vertical-align: top;
}

.gdtab .gdtab-diff-box {
    vertical-align: top;
    padding-top: 10px;
    color: rgb(222, 224, 237);
}

.gdtab-sort-header::-moz-selection {
    background: 0 0;
}
.gdtab-sort-header::selection {
    background: 0 0;
}
.gdtab-sort-header {
    cursor: pointer;
}
.gdtab-sort-header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
}
.gdtab-sort-header:hover:after {
    visibility: visible;
}
.gdtab-sort-asc:after,
.gdtab-sort-asc:hover:after,
.gdtab-sort-desc:after {
    visibility: visible;
    opacity: 0.4;
}
.gdtab-sort-desc:after {
    border-bottom: none;
    border-width: 5px 5px 0;
}
@media screen and (max-width: 767px) {
    .gdtab {
        width: auto !important;
    }
    .gdtab col {
        width: auto !important;
    }
    .gd-table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.ranked-text {
    background: linear-gradient(
        to right,
        #FF498C 20%,
        #FF732D 30%,
        #FF4953 70%,
        #FF4482 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    background-color: #93c47d;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.ranked {
    background-color: #93c47d;
}

.qualified {
    background-color: #6d9eeb;
}

.wip {
    background-color: #DEE0ED;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.plural-padding {
    padding: 7.5px 0 7.5px 5px;
    min-height: 35px;
}

.play-button-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 80px;
    background: radial-gradient(circle, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0.75) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.play-button-container:hover {
    opacity: 1; /* triggers fadein */
}

.play-button {
    color: rgb(222, 224, 237);
}

.play-button:hover {
    color: rgb(222, 224, 237);
    cursor: pointer;
}