/* header styling properties */
#header { /* probably originally supposed to scroll with the page? */
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

#pfp-image {
    width: 120px;
    border-radius: 50%;
}

h1 {
    font-family: Kyokasho, sans-serif;
    font-size: 58px;
    font-weight: normal;
    color: var(--background);
    padding-right: 20px;
    padding-left: 20px;
}

button {
    font-family: Kyokasho, sans-serif;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--lilac-light-accent);
    padding: 15px 90px; /* determines the button size, default is this */
    transition-duration: 0.2s;
    cursor: pointer;
} button:hover {
    background-color: var(--lilac-accent); 
}

.smaller-button {
    font-size: 26px;
    padding: 15px 40px;
}

#translate-button {
    position: absolute; /* absolute based on the header position */
    top: 10px;
    right: 10px;
    text-decoration: none;
}

.button-with-dropdown-container {
    position: relative;
} .button-with-dropdown-container:hover .dropdown-content { /* makes dropdown content visible when hovered over */
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: calc(244px + 10px); /* really not a good way to go about it, but the box with osu! text is 244px */
    left: -5px; /* also not great, but i'll keep this for now to centre it */
    background-color: var(--lilac-light-accent);
    border-radius: 5px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 12px 16px; /* gives the text enough breathing room */
    text-align: center;
    cursor: pointer;
    text-decoration: none;
} .dropdown-content a:hover { /* makes dropdowns darker when you hover as well */
    background-color: var(--lilac-accent);
    border-radius: 5px;
}

/* burger menu (shouldn't display on desktop */
#hamburger {
    display: none;
}

.borgar-menu {
    display: none;
}

/* mobile - burger menu */
@media only screen and (max-device-width: 1000px)
{
    .top-img {
        width: 90px;
    }

    #hamburger {
        display: contents;
    }

    .button-with-dropdown-container {
        display: none;
    }

    .borgar {
        display: contents;
        font-size: 30px;
        cursor: pointer;
        color: rgb(40 40 40);
    }

    #borgar-text {
        position: absolute;
        color: rgb(40 40 40);
        top: 35%;
        right: 7.5px;
    }

    .borgar-menu {
        display: block;
        height: 100%; 
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--lilac-light-accent);
        overflow-x: hidden;
        text-align: center;
        border-radius: 5px;
        transition: .25s ease;
      }

      .borgar-text-wrapper {
        display: flex;
        justify-content: center;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
      }

      .borgar-menu-text {
        color: rgb(40 40 40);
      }

      .borgar-text-wrapper:hover {
        background-color: var(--lilac-main);
      }

      #close-button {
        padding-left: 5px;
        justify-content: flex-start;
        padding-top: 5px;
        cursor: default;
        padding-bottom: 0;
      }

      #close-button:hover {
        background-color: var(--lilac-light-accent);
      }

      #close-button-text {
        cursor: pointer;
      }
}

