:root {
    --main: rgb(222, 224, 237);
    --accent: rgb(126, 126, 129);
    --text: rgb(180 181 191);
    --link: rgb(100, 101, 112);
    --background: rgb(40 40 40);
    --offwhite: rgb(222, 224, 237);
}