/* header styling properties */
#header { /* probably originally supposed to scroll with the page? */
    display: flex;
    position: relative;
    align-items: center;
    /* background set by js */
    border-radius: 10px;
    padding: 10px;
}

#pfp-image {
    width: 120px;
    border-radius: 50%;
}

h1 {
    font-family: Kyokasho, sans-serif;
    font-size: 58px;
    font-weight: normal;
    padding-left: 20px;
}

button {
    font-family: Kyokasho, sans-serif;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    color: white;
    /* background set by js */
    padding: 15px 90px; /* determines the button size, default is this */
    transition-duration: 0.2s;
    cursor: pointer;
    margin-left: 20px;
} button:hover {
    /* background set by js */
}

.smaller-button {
    font-size: 26px;
    padding: 15px 40px;
}

#translate-button {
    position: absolute; /* absolute based on the header position */
    top: 10px;
    right: 10px;
    text-decoration: none;
}

.button-with-dropdown-container {
    position: relative;
} .button-with-dropdown-container:hover .dropdown-content { /* makes dropdown content visible when hovered over */
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: calc(244px + 10px); /* really not a good way to go about it, but the box with osu! text is 244px */
    left: 15px; /* also not great, but i'll keep this for now to centre it */
    /* background set by js */
    border-radius: 5px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 12px 16px; /* gives the text enough breathing room */
    text-align: center;
    cursor: pointer;
    text-decoration: none;
} .dropdown-content a:hover { /* makes dropdowns darker when you hover as well */
    /* background set by js */
    border-radius: 5px;
}

/* burger menu (shouldn't display on desktop */
#hamburger-button {
    display: none;
}

#burger-menu {
    display: none;
}

/* mobile - burger menu */
@media only screen and (max-device-width: 1000px)
{
    /* changing/removing desktop elements */
    #pfp-image {
        width: 90px;
    }

    h1 {
        font-size: 50px;
        padding-left: 10px;
    }

    .button-with-dropdown-container {
        display: none;
    }

    .header-button {
        display: none;
    }

    /* displaying hamburger menu */
    #hamburger-button {
        display: grid;
        font-size: 36px;
        /* color set by js */
        cursor: pointer;
        margin-left: auto; /* moves it to the end of the flexbox */
    }

    #burger-menu {
        display: block;
        position: fixed;
        height: 100%; 
        width: 0; /* width gets changed when it's opened, 0 by default */
        top: 0;
        right: 0;
        /* background set by js */
        text-align: right;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: .25s ease; /* makes the slide out animation~ */
        z-index: 1;
    }

    .burger-text {
        display: block;
        text-align: center;
        color: var(--background);
        cursor: pointer;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        text-decoration: none;

    } .burger-text:hover {
        /* background set by js */
    }

    #close-button {
        padding-right: 5px;
        padding-top: 5px;
        cursor: pointer;
    }
}

