node_modules

#src/lib/server/lilacgds.json
#src/lib/server/sydneygds.json
#src/lib/server/sets.json

.vscode

.env
.env.production

#svelte output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build