node_modules

webserver/lilacgds.json
webserver/sydneygds.json
webserver/sets.json

webserver/redirect/wrangler.toml

.vscode

.env
.evn.production

#svelte output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build