node_modules
.npmrc

#src/lib/server/lilacgds.json
#src/lib/server/sydneygds.json
#src/lib/server/sets.json

.vscode

/src/lib/server/.env

#svelte output
.output
.vercel
.netlify
.wrangler
.svelte-kit
/build

#turborepo
.turbo
