@font-face { font-family: Kyokasho; src: url('fonts/Kyokasho.ttf')}
@font-face { font-family: Kyokasho; font-weight: bold; src: url('fonts/KyokashoBold.ttf')}
@font-face { font-family: YuGothic; src: url('fonts/YuGothic.ttf')}
@font-face { font-family: OpenSans; src: url('fonts/OpenSans.ttf')}

/*
* main color: rgb(90, 73, 105)
* accent color: rgb(65, 54, 75)
* grey text color: rgb(180 181 191)
* darker grey: rgb(100, 101, 112);
*/

body {
    background-color: rgb(40 40 40);
    font-family: YuGothic, sans-serif;
}

a {
    color: rgb(180 181 191);
    text-decoration: none;
}

audio {
    display: none;
}

a.normal-text {
    font-family: YuGothic, sans-serif;
    font-size: 16px;
    color: rgb(100, 101, 112);
    font-weight: normal;
    text-decoration: underline;
}

p {
    color: rgb(180 181 191);
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    background-color: rgb(90, 73, 105);
    border-radius: 10px;
}

a.header {
    width: 7.5%;
    border-radius: 50%;
    padding-left: 15px;
}

img.header {
    border-radius: 50%;
    width: 100%;
}

.top-img {
    width: 7.5%;
    padding-left: 15px;
}

h1 {
    font-family: Kyokasho, sans-serif;
    font-weight: normal;
    color: white;
    font-size: 58px;
    padding-left: 15px;
}

button {
    border: none;
    font-family: Kyokasho, sans-serif;
    color: white;
    font-size: 32px;
    padding: 15px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(65, 54, 75); 
    margin: 0;
}
  
button:hover {
    background-color: rgb(40, 35, 44); 
}

.button-link {
    margin-left: 1.5%;
}

.translate-button {
    text-decoration: none;
    position: absolute;
    top: 7.5px;
    right: 7.5px;
}

.dropdown {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 68px;
    background-color: rgb(65, 54, 75);
    border-radius: 5px;
    width: 252px;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.borgar {
    display: none;
}

.borgar-menu {
    display: none;
}

.dropdown-content a {
    color: white;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
  }

.dropdown-content a:hover {
    background-color: rgb(40, 35, 44);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(90, 73, 105);
    text-align: center;
}

a.footer {
    text-decoration: none;
    color: white;
}

