/* local variables */
:root {
    --tent: #FCE758;
}

/* body/header */
body {
    text-align: center;
}

h1 {
    font-size: 58px;
    padding-left: 15px;
    font-weight: normal;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5vh;
    margin-bottom: 0px;
}

header a {
    padding-right: 8px; /* gives spacing to the icons */
}

#page {
    margin-left: 24%;
    margin-right: 24%;
}

/* main content */
#title {
    font-family: Kyokasho, sans-serif;
    color: var(--tent);
    font-size: 58px;
    text-decoration: none;
}

.plural {
    display: flex;
    position: relative;
}

.person {
    display: flex;
    border: 3px solid var(--sydney-light-accent);
    border-radius: 5px;
    height: 85px;
    width: 100%;
    box-shadow: -2px 8px 20px 6px rgba(0,0,0,0.3);
    transition: 0.3s;
} .person:hover {
    box-shadow: -2px 8px 20px 16px rgba(0,0,0,0.3); /* increases the spread when you hover over */
}

.person-shine {
    display: flex;
    position: relative;
    width: 100%;
    height: 90px;
    box-shadow: -2px 8px 20px 6px rgba(0,0,0,0.3);
    transition: 0.3s;
} .person-shine::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 5px;
    padding: 3px;
    background: var(--shine);
    mask:
        linear-gradient(var(--transparent)) content-box, 
        linear-gradient(var(--transparent));
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
    background-size: 500% auto;
    animation: shine 5s ease-in-out infinite alternate;
} .person-shine:hover {
    box-shadow: -2px 8px 20px 16px rgba(0,0,0,0.3); /* increases the spread when you hover over */
}

@keyframes shine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.person-shine .person-img { 
    margin: 3px; /* adds back in the 3px padding from the border */
}

.person-img {
    padding: 3px;
    height: 78px; /* not sure why this is the case, might have to look into it */
}

.person-img img {
    max-height: 100%; /* limits height growth of fronter imgs */
    border-radius: 5px;
}

.person-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5px;
}

#lilac-text {
    margin-left: 0; /* lilac is less (me :O) because my name looks weird and starts with an l :p */
}

.person-text span {
    font-family: Kyokasho, sans-serif;
    font-size: 38px;
    color: white;
}

.person-text p {
    margin: 0px;
}

#time-0 {
    padding-left: 2px; /* these are both also hacky solutions to get the text to line up nicely, but it's honestly ok for now */
}

#time-1 {
    padding-left: 5px;
}

#lilac-dropdown {
    font-size: 26px;
    color: white;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 0px;
    padding: 5px; /* padding is so that more area is clickable (especially useful on mobile) */
}

#person-dropdown {
    position: absolute;
    visibility: hidden;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: var(--background);
    width: calc((50% - 3%) - 8px);
    right: 0%;
    bottom: -52px;
    height: 50px;
    border: 3px solid var(--sydney-light-accent);
    border-radius: 5px;
}

#dropdown-img {
    padding: 3px;
    height: 44px; /* not sure why this is the case, might have to look into it */
} #dropdown-img img {
    max-height: 100%; /* limits height growth of fronter imgs */
    border-radius: 5px;
}

#name-2 {
    font-family: Kyokasho, sans-serif;
    font-size: 32px;
    color: white;
    margin-right: 8px;
    margin-left: 2px;
}

#time-2 {
    font-size: 13px;
}

#front-percent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#front-percentage {
    display: flex;
    border: 2px solid var(--sydney-light-accent);
    border-radius: 5px;
    width: 90%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sydney-percent {
    position: relative; /* all of these are positioned for the hoverable tooltip */
    background-color: var(--sydney-main);
}

#lilac-percent {
    position: relative;
    background-color: var(--lilac-main);
} /* #lilac-percent:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--lilac-main);
    transform-origin: 100% 0;
    transform: skew(-45deg);
} /* will def want to make this change direction depending on the fronter, but i'll get to that later~ */

#hazel-percent {
    position: relative;
    background-color: var(--hazel-main);
}

.front-percent-hover {
    position: absolute;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 14px;
    visibility: hidden;
    width: 150px;
    left: calc(50% - (150px/2)); /* position is exactly halfway across the bar */
    bottom: calc(20px + 5px + 2px); /* bar is 20px wide, plus 5 for the arrow and 2 for extra spacing~ */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    z-index: 1;
} .front-percent-person:hover .front-percent-hover { /* new class for each bar, just used to make hovers work properly */
    visibility: visible;
} .front-percent-hover::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent; /* whatever this magic is makes a triangle ehe */
  }

.front-divider {
    border: 2px solid var(--main);
    height: 105px;
    margin-top: -10px; /* makes it centered, kinda weird so i might fix this later~ */
    margin-left: 3%;
    margin-right: 3%;
}

/* would be nice to align images to some baseline, but nothing seemed to really work */

.socials-bar-big a {
    font-size: 30px;
    color: white;
} .socials-bar-big span {
    font-size: 30px;
    color: white;
}

.socials-bar img {
    max-width: 16px;
}

.socials-bar-big img {
    max-width: 28px;
}

.lastfm-album-img {
    width: 35px;
    border-radius: 4px;
    vertical-align: middle;
}

footer {
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    color: var(--off-white);
    z-index: 1;
}

/* overlay */
#settings-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#settings-container {
    position: relative;
    top: 75vh;
    width: 30%;
    font-size: 14px;
    padding: 10px;
}

.blank-input {
    font-family: "Zen Kaku Gothic New", sans-serif;
    border: none;
    background-color: var(--transparent);
    color: white;
} .blank-input:focus {
    outline: none;
}

#front-input {
    margin-left: 6vw;
    width: 10%;
}

/* mobile */
@media only screen and (max-device-width: 1000px)
{
    #page {
        margin-left: 10%;
        margin-right: 10%;
    }

    .front-divider {
        display: none;
    }

    .plural {
        flex-direction: column;
    }

    .person {
        margin-bottom: 20px;
    }

    .person-shine {
        margin-bottom: 20px;
    }

    #front-percentage {
        margin-top: 0;
    }

    .socials-bar-big {
        font-size: 23px;
    }

    .person-text p {
        font-size: 12px;
    }

    #bottom-translate-text {
        display: none;
    }

    footer {
        display: none;
    }
}


