.osu-user {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.osu-hover {
    display: none;
    position: absolute;
    left: 0; /* need to set a position for it to spawn right under the text */
    text-decoration: none;
    font-weight: normal;
    color: white;
    height: 80px;
    width: 300px;
    border-radius: 15px;
}

.hover-pfp {
    height: 70px;
    border-radius: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

.osu-hover-flagtext-container {
    margin-left: 10px;
    margin-top: 5px;
}

.hover-username {
    font-weight: bold;
    font-size: 26px;
}

.flaguser-container {
    display: flex;
    align-items: center;
}

.osu-flag {
    height: 35px;
    margin-right: 5px;
}

