.set {
    display: flex;
    background-color: rgb(55, 55, 55);
    min-height: 85px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid rgb(90, 73, 105);
}

a {
    color: rgb(180 181 191);
    text-decoration: none;
}

a.normal-text {
    font-family: YuGothic, sans-serif;
    font-size: 16px;
    color: rgb(100, 101, 112);
    font-weight: normal;
    text-decoration: underline;
}

a.title {
    font-family: Kyokasho, sans-serif;
    color: #FCE758;
    font-size: 58px;
    text-decoration: none;
}

p {
    color: rgb(180 181 191);
}

h1 {
    font-family: Kyokasho, sans-serif;
    font-weight: normal;
    color: white;
    font-size: 36px;
    text-align: center;
}

img.set-content {
    max-width: 19%;
    object-fit: cover;
}

.text-container {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

a.set-content {
    font-family: Kyokasho, sans-serif;
    font-size: 32px;
    color: white;
}

.status-icon {
    width: 1%;
    padding-right: 5px;
}

.incomplete-warning {
    margin-top: 20px;
    color: #DEE0ED;
    text-align: center;
}

#warning {
    font-size: 22px;
    background-color: #f26376;
    border-radius: 5px;
}